<template>
    <div class="contact">
        <div class="content-wrap">
            <div class="form">
                <header>
                    <h2>Get in Touch</h2>
                    <h3>Please complete the form below to request more information aobut Magnify</h3>
                </header>

                <form ref="contactForm" @submit.prevent="submit">
                    <section>
                        <div class="form-block">
                            <label for="name">Your name*</label>
                            <input type="text" id="name" v-model="form.name" required>
                        </div>

                        <div class="form-block">
                            <label for="email">Your email address*</label>
                            <input type="email" id="email" v-model="form.email" required>
                        </div>

                        <div class="form-block">
                            <label for="message">Your message*</label>
                            <textarea id="mesasge" v-model="form.body" required></textarea>
                        </div>
                    </section>

                    <div class="form-submit">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            submitUrl: {
                required: true,
                type: String
            }
        },

        data() {
            return {
                form: {
                    name: null,
                    email: null,
                    body: null
                }
            }
        },

        methods: {
            submit() {
                this.$http.post(this.submitUrl, this.form).then((response) => {
                    alert('E-Mail was sent');
                }, (error) => {
                    console.error('Contact::submit error:', error);
                });
            }
        }
    }
</script>
