<template>
    <div class="conversation">
        <div class="content-wrap">
            <section>
                <h3>Automate one-to-one Slack conversations</h3>

                <p>
                    Start hundreds private one-to-one Slack conversations with an effort of sending single channel message.
                </p>

                <p>
                    Solve crowd paradox - automated one-to-one coversations in #SlackSpeak to hundred people in Slack as if you would talk to one!
                </p>
            </section>

            <section>
                <h3>Do you use #channels for speaking up?</h3>

                <p>
                    Help people share their opinions in private.Engage your team in one-to-one channel. One-to-many is dead.
                </p>

                <p>
                    Private Slack conversations have 1200% higher response rate than #general. Get your team to finally answer your survey messages!
                </p>
            </section>
        </div>
    </div>
</template>
