<template>
    <section class="customers">
        <div class="content-wrap">
            <h3>Customers</h3>

            <ul>
                <li>
                    <img src="/assets/images/icon-hr.png" alt="HR's">
                    <p>HR's</p>
                </li>

                <li>
                    <img src="/assets/images/icon-om.png" alt="Office managers">
                    <p>Office Managers</p>
                </li>

                <li>
                    <img src="/assets/images/icon-cl.png" alt="C-Levels">
                    <p>C-Levels</p>
                </li>

                <li>
                    <img src="/assets/images/icon-op.png" alt="Other positions with company-wide scope">
                    <p>Other positions with company-wide scope</p>
                </li>
            </ul>
        </div>
    </section>
</template>
