<template>
    <footer>
        <section class="top">
            <div class="limit">
                <div class="page-wrap footer-wrap">
                    <div class="footer-block">
                        <h5>Magnify</h5>
                        <ul>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>

                    <div class="footer-block">
                        <h5>Company</h5>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Market</a></li>
                        </ul>
                    </div>

                    <div class="footer-block">
                        <h5>Legal</h5>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Policies</a></li>
                        </ul>
                    </div>

                    <div class="footer-block">
                        <h5>Help</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="bottom">
            <div class="limit">
                <div class="page-wrap footer-wrap">
                    {{ year }} &copy; Magnify
                    <a href="#">Privacy & Terms</a>
                </div>
            </div>
        </section>
    </footer>
</template>

<script>
    export default {
        data() {
            return {
                year: (new Date).getFullYear()
            };
        }
    }
</script>
