<template>
    <header class="page-header">
        <div class="limit">
            <div class="page-wrap">
                <div class="logo">
                    <img src="/assets/images/logotype.png" alt="Magnify">
                </div>

                <nav>
                    <ul>
                        <li>
                            <a href="#" @click.prevent="selectPage('features')">Features</a>
                        </li>

                        <li>
                            <a href="#" @click.prevent="selectPage('pricing')">Pricing</a>
                        </li>

                        <li>
                            <a href="#" @click.prevent="selectPage('story')">Story</a>
                        </li>

                        <li>
                            <a href="#" @click.prevent="selectPage('contact')">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        data() {
            return {
                scrollDuration: 250,
                isScrolling: false
            }
        },

        methods: {
            scrollTo(to) {
                var navigationOffset = 60;

                if (window.innerWidth <= 667) {
                    navigationOffset = 123;
                }

                var toPos = to.offsetTop - navigationOffset;
                var element = document.body;
                var duration = this.scrollDuration;

                var difference = toPos - element.scrollTop;
                var perTick;

                if (difference < 0) {
                    perTick = Math.floor(difference / duration * 10);
                } else {
                    perTick = Math.ceil(difference / duration * 10);
                }

                this.isScrolling = setTimeout(function() {
                    element.scrollTop = element.scrollTop + perTick;

                    if (element.scrollTop === toPos) {
                        clearTimeout(this.isScrolling);
                    } else {
                        this.scrollTo(to);
                    }
                }.bind(this), 10);
            },

            selectPage(pageID) {
                clearTimeout(this.isScrolling);
                var pageEl = document.getElementById(pageID);
                this.scrollTo(pageEl);
            }
        },

        mounted() {
            window.addEventListener('mousewheel', function() {
                clearTimeout(this.isScrolling);
            }.bind(this));
        }
    }
</script>
