<template>
    <div class="pricing">
        <div class="content-wrap">
            <h3>Pricing</h3>

            <div class="pricing-lsit">
                <header>
                    <div class="pricing-tab" :class="{ active: active === index }" v-for="(section, index) in sections" @click="active = index">
                        {{ section.title }}
                    </div>
                </header>

                <section class="pricing-content" v-for="(section, index) in sections" v-if="active === index">
                    <h2>
                        <sup>$</sup>{{ section.price.annual }}
                    </h2>

                    <p>per user, per month<br>billed annualy.</p>

                    <p><a href="#">Learn more</a></p>

                    <p class="monthly-billed">${{ section.price.monthly }} billed monthly</p>

                    <p>
                        <button>Install now</button>
                    </p>

                    <ul>
                        <li>30 days trial</li>
                        <li>No card required</li>
                        <li>You need admin or install<br>rights</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            sections: {
                required: true,
                type: Array
            }
        },

        data() {
            return {
                active: 0
            }
        }
    }
</script>
