<template>
    <div class="stats">
        <div class="content-wrap">
            <header>
                <h2>Still not sure?</h2>
                <h3>This is a response rate statistics for the same message sent via e-mail, Slack channel or Magify message</h3>
            </header>

            <section>
                <div class="statement" v-for="(statement, index) in info">
                    <div class="icon">
                        <img :src="`/assets/images/${statement.icon}`" :alt="statement.title">
                    </div>

                    <div class="info">
                        <p v-html="statement.title"></p>

                        <div class="percent-section">
                            <div class="progress" :style="{ width: `${statement.percent}%`, backgroundColor: `rgba(98, 192, 162, ${statement.percent / 30 })` }">
                                <span class="percent">{{ statement.value }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            info: {
                required: true,
                type: Array
            }
        }
    }
</script>
