<template>
    <div class="steps">
        <div class="content-wrap">
            <ul>
                <li v-for="(step, index) in steps">
                    <span>{{ index + 1 }}</span>
                    {{ step }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            steps: {
                required: true,
                type: Array
            }
        }
    }
</script>
