<template>
    <div class="story">
        <div class="content-wrap">
            <header>
                <h2>Story</h2>
                <h3>{{ story.title }}</h3>
            </header>

            <section>
                <div class="story-block body">
                    <div v-html="story.body"></div>
                    <a href="#">Read more</a>
                </div>

                <div class="story-block author">
                    <div class="author-image" :style="{ backgroundImage: `url('assets/images/${story.author.image}')` }"></div>
                    <p>{{ story.author.name }}</p>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            story: {
                required: true,
                type: Object
            }
        }
    }
</script>
