<template>
    <section class="subscribe">

        <div class="limit">

            <div class="wrap">

                <h6>Solve crowd paradox - automated one-to-one conversations in #Slack</h6>

                <div class="content">
                    <div class="block">
                        <h5>
                            Get 30 day free trial
                            <span>No credit card required</span>
                        </h5>
                    </div>

                    <div class="block block-subscribe">
                        <button>Add to Slack</button>
                        <span>You need to have admin or install rights</span>
                    </div>
                </div>

            </div>

        </div>

    </section>
</template>
