<template>
    <div class="video">
        <iframe :src="video" frameborder="0" @click="stop" allowfullscreen></iframe>

        <div class="overlay" :class="{ hidden: isPlaying }" @click="stop">
            <div class="control" v-if="!isPlaying">
                <span class="play" @click.stop="play"></span>
                <p>
                    Watch
                    <span>How does it work</span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            videoId: {
                required: true,
                type: String
            }
        },

        data() {
            return {
                initVideo: `https://www.youtube-nocookie.com/embed/${this.videoId}?rel=0&amp;controls=0&amp;showinfo=0`,
                video: `https://www.youtube-nocookie.com/embed/${this.videoId}?rel=0&amp;controls=0&amp;showinfo=0`,
                isPlaying: false
            }
        },

        methods: {
            play() {
                this.video = `${this.video}&autoplay=1`;
                this.isPlaying = true;
            },

            stop() {
                this.video = this.initVideo;
                this.isPlaying = false;
            }
        }
    }
</script>
