@font-face {
    font-family: 'Bernino Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/BerninoSans-Bold.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: italic;
    font-weight: 700;
    src: url(/assets/fonts/BerninoSans-BoldItalic.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: normal;
    font-weight: 800;
    src: url(/assets/fonts/BerninoSans-Extrabold.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: italic;
    font-weight: 400;
    src: url(/assets/fonts/BerninoSans-Italic.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/BerninoSans-Light.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: italic;
    font-weight: 300;
    src: url(/assets/fonts/BerninoSans-LightItalic.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/BerninoSans-Regular.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: normal;
    font-weight: 600;
    src: url(/assets/fonts/BerninoSans-Semibold.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans';
    font-style: italic;
    font-weight: 600;
    src: url(/assets/fonts/BerninoSans-SemiboldItalic.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/BerninoSans-NarrowBold.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans Narrow';
    font-style: normal;
    font-weight: 800;
    src: url(/assets/fonts/BerninoSans-NarrowExtrabold.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans Narrow';
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/BerninoSans-NarrowLight.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/BerninoSans-NarrowRegular.otf) format('otf');
}

@font-face {
    font-family: 'Bernino Sans Narrow';
    font-style: normal;
    font-weight: 600;
    src: url(/assets/fonts/BerninoSans-NarrowSemibold.otf) format('otf');
}