.conversation {
    .content-wrap {
        padding: 50px 90px;
    }

    section {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-family: 'Bernino Sans', sans-serif;
            font-weight: 600;
            font-size: 18px;
            margin: 0;
        }

        p {
            margin: 10px 0;
        }
    }
}
