.contact {
    .content-wrap {
        padding: 50px 160px;
        @media only screen and (max-device-width: 667px) {
            padding: 0
        }
    }

    .form {
        width: 90%;
        margin: 0 auto;
        padding: 50px;
        background: #fff;

        @media only screen and (max-device-width: 667px) {
            width: 100%;
        }
    }

    header {
        text-align: center;
        margin: 0 0 40px 0;

        h2 {
            font-size: 30px;
            margin: 0 0 10px 0;
        }

        h3 {
            font-size: 16px;
            margin: 0;
        }
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media only screen and (max-device-width: 667px) {
            flex-direction: column;
        }

        .form-block {
            flex: 1 0 50%;
            margin-bottom: 20px;

            label {
                display: block;
                font-family: 'Bernino Sans', sans-serif;
                font-weight: 600;
                font-size: 18px;
                margin: 0 0 10px 0;
            }

            input {
                display: block;
                width: 100%;
            }

            textarea {
                display: block;
                width: 100%;
                resize: none;
                min-height: 150px;
            }

            input, textarea {
                border: 1px solid #d2c7d2;
                padding: 13px;
                background: #fff;
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
            }

            &:first-child {
                padding: 0 10px 0 0;

                @media only screen and (max-device-width: 667px) {
                    padding: 0;
                }
            }

            &:nth-child(2) {
                padding: 0 0 0 10px;

                @media only screen and (max-device-width: 667px) {
                    padding: 0;
                }
            }

            &:last-child {
                flex: 1 0 100%;
            }
        }
    }

    .form-submit {
        text-align: right;

        input {
            color: #fff;
            background: #48C19A;
            border-radius: 10px;
            border: 0;
            font-family: 'Bernino Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 30px;
            font-size: 18px;

            @media only screen and (max-device-width: 667px) {
                display: block;
                width: 100%;
            }
        }
    }
}
