.customers {
    font-family: 'Bernino Sans', sans-serif;
    background: #61C0A2;
    color: #fff;
    height: 100%;

    h3 {
        font-weight: 600;
        text-align: center;
        font-size: 30px;
        margin: 0 0 150px 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        @media only screen and (max-device-width: 667px) {
            flex-direction: column;
        }

        li {
            flex: 1 0 50%;
            list-style: none;
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
