footer {
    color: #fff;

    .footer-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;

        @media only screen and (max-device-width: 667px) {
            flex-wrap: wrap;
        }

        .footer-block {
            flex: 1 0 auto;

            @media only screen and (max-device-width: 667px) {
                flex: 1 0 50%;
                margin-bottom: 20px;
                text-align: center;
            }

            h5 {
                font-size: 15px;
                font-weight: 600;
                margin: 0 0 10px 0;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    padding: 0 0 10px 0;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    a {
                        font-size: 15px;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .top {
        background: #5C5077;
        padding: 30px 0;
    }

    .bottom {
        background: #4D4759;
        padding: 15px 0;

        .footer-wrap {
            @media only screen and (max-device-width: 667px) {
                display: block;
            }
        }

        @media only screen and (max-device-width: 667px) {
            text-align: center;
        }

        a {
            color: #fff;
            text-decoration: none;
            margin: 0 0 0 100px;

            @media only screen and (max-device-width: 667px) {
                display: block;
                margin: 0;
            }
        }
    }
}
