* {
    box-sizing: border-box;
}

html, body {
    background: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #461b45;
    margin: 0;
    padding: 0;
}

#app {
    margin-top: 70px;

    @media only screen and (max-device-width: 667px) {
        margin-top: 123px;
    }
}

.limit {
    // max-width: 1280px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;

    @media only screen and (max-device-width: 667px) {
        flex-direction: column;
    }

    .col {
        flex: 1 0 50%;

        @media only screen and (max-device-width: 667px) {
            flex: 1 1 auto;
        }
    }
}

.content-wrap {
    padding: 50px;
}

.page-wrap {
    width: 90%;
    margin: 0 auto;
}

.comics {
    img {
        display: block;
        width: 100%;
        max-width: 1154px;
        margin: 5px auto;
    }
}

.conversation-img {
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

h2 {
    font-family: 'Bernino Sans', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Bernino Sans', sans-serif;
    font-weight: 400;
}
