.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    z-index: 99;

    @media only screen and (max-device-width: 667px) {
        height: auto;
    }

    .page-wrap {
        display: flex;
        flex-direction: row;

        @media only screen and (max-device-width: 667px) {
            flex-direction: column;
        }

        .logo {
            flex: 0 0 160px;

            @media only screen and (max-device-width: 667px) {
                flex: 1 1 100%;
            }

            img {
                display: block;
                width: 100%;
                margin-top: 14px;

                @media only screen and (max-device-width: 667px) {
                    width: 160px;
                    margin: 15px auto;
                }
            }
        }

        nav {
            flex: 1 0 auto;

            ul {
                margin: 0;
                padding: 0;
                text-align: right;
                line-height: 60px;

                @media only screen and (max-device-width: 667px) {
                    text-align: center;
                }

                li {
                    display: inline-block;
                    padding: 0 15px;

                    @media only screen and (max-device-width: 667px) {
                        padding: 0 5px;
                    }

                    a {
                        font-size: 13px;
                        text-transform: uppercase;
                        color: #461b45;
                        text-decoration: none;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            color: #d5100e;
                            text-decoration: underline;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
