.pricing {
    .content-wrap {
        padding: 50px 65px;

        @media only screen and (max-device-width: 667px) {
            padding: 0;
        }
    }

    h3 {
        font-family: 'Bernino Sans', sans-serif;
        font-wieght: 600;
        text-align: center;
        font-size: 30px;
        margin: 0 0 50px 0;

        @media only screen and (max-device-width: 667px) {
            margin: 20px 0;
        }
    }

    header {
        display: flex;
        flex-direction: row;

        .pricing-tab {
            font-family: 'Bernino Sans', sans-serif;
            flex: 1 0 auto;
            text-align: center;
            font-weight: 600;
            padding: 20px 0;
            background: #EFEFEF;
            color: #461b45;
            font-size: 18px;
            cursor: pointer;

            &.active {
                background: #fff;
            }
        }
    }

    .pricing-content {
        text-align: center;
        background: #fff;
        padding: 50px 0;

        h2 {
            font-size: 65px;
            margin: 0;

            sup {
                font-size: 40px;
                color: #666;
            }
        }

        a {
            color: #461b45;
        }

        .monthly-billed {
            margin: 40px 0;
        }

        button {
            font-family: 'Bernino Sans', sans-serif;
            font-weight: 600;
            color: #6a4ca6;
            text-transform: uppercase;
            background: transparent;
            border: 2px solid #6a4ca6;
            border-radius: 5px;
            font-size: 18px;
            padding: 15px 30px;
            cursor: pointer;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                padding: 5px 0;

                &:before {
                    content: '\2022';
                    padding-right: 5px;
                }
            }
        }
    }
}
