.stats {
    header {
        text-align: center;
        margin: 0 0 40px 0;

        h2 {
            font-size: 30px;
            margin: 0;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }
    }

    section {
        .statement {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                flex: 1 0 5%;
                align-self: flex-end;
                text-align: center;

                @media only screen and (max-device-width: 667px) {
                    flex: 1 0 10%;
                }

                img {
                    display: inline-block;
                    max-width: 100%;
                }
            }

            .info {
                flex: 1 0 95%;
                padding: 0 0 0 20px;

                @media only screen and (max-device-width: 667px) {
                    flex: 1 0 90%;
                }

                .percent-section {
                    position: relative;
                    height: 50px;

                    .progress {
                        position: absolute;
                        height: 100%;
                        border-radius: 3px;

                        @media only screen and (max-device-width: 667px) {
                            min-width: 100px;
                        }

                        .percent {
                            position: absolute;
                            right: 10px;
                            line-height: 50px;
                            color: #fff;
                            font-weight: bold;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
