.steps {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            font-size: 20px;
            padding: 0 0 40px 60px;
            border-left: 1px solid #000;
            font-weight: 300;

            &:last-child {
                padding-bottom: 0;
                border-left: 0;
            }

            span {
                position: absolute;
                top: 0;
                left: -13px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 2px solid #000;
                background: #F6F6F6;
                text-align: center;
                line-height: 20px;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
}
