.story {
    header {
        text-align: center;
        margin: 0 0 40px 0;

        h2 {
            font-size: 30px;
            margin: 0;
        }

        h3 {
            font-size: 18px;
            margin: 0;
            font-weight: 600;
        }
    }

    section {
        display: flex;
        flex-direction: row;

        @media only screen and (max-device-width: 667px) {
            flex-direction: column;
        }

        .story-block {

            &.body {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                flex: 1 0 60%;
                font-size: 18px;
                padding: 0 100px 0 0;

                @media only screen and (max-device-width: 667px) {
                    padding: 0;
                    margin: 0 0 40px 0;
                }

                a {
                    color: #461b45;
                }
            }

            &.author {
                font-family: 'Bernino Sans', sans-serif;
                font-weight: 400;
                flex: 1 0 40%;
                text-align: center;

                .author-image {
                    width: 220px;
                    height: 220px;
                    margin: 0 auto;
                    border-radius: 100%;
                    border: 7px solid #512E4C;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                p {
                    font-weight: bold;
                }
            }
        }
    }
}
