.subscribe {
    font-family: 'Bernino Sans', sans-serif;
    background: #6a4ca6;
    color: #fff;
    padding: 50px 0;

    .wrap {
        width: 60%;
        margin: 0 auto;

        @media only screen and (max-device-width: 667px) {
            width: 90%;
        }
    }

    h6 {
        font-size: 21px;
        font-weight: normal;
        margin: 10px 0 40px 0;
        font-weight: 400;
    }

    .content {
        display: flex;
        flex-direction: row;

        @media only screen and (max-device-width: 667px) {
            flex-direction: column;
        }

        .block {
            flex: 1 0 50%;

            @media only screen and (max-device-width: 667px) {
                margin-bottom: 20px;
            }

            h5 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 26px;
                margin: 0;

                span {
                    display: block;
                    font-weight: 300;
                }
            }

            &.block-subscribe {
                text-align: center;

                button {
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #fff;
                    background: transparent;
                    border: 3px solid #fff;
                    border-radius: 10px;
                    padding: 20px 40px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                span {
                    display: block;
                    font-size: 14px;
                    margin: 10px 0 0 0;
                    font-weight: 300;
                }
            }
        }
    }
}
