.video {
    position: relative;
    height: 100%;
    min-height: 500px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(72, 192, 154, .5);

        &.hidden {
            opacity: 0;
        }

        .control {
            position: absolute;
            width: 50%;
            height: 50%;
            left: 25%;
            top: 25%;


            .play {
                display: block;
                margin: 0 auto;
                width: 103px;
                height: 103px;
                background: url('/assets/images/play.png') no-repeat center;
                cursor: pointer;
            }

            p {
                color: #fff;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Bernino Sans', sans-serif;
                font-weight: 400;

                span {
                    display: block;
                    font-weight: bold;
                    font-weight: 600;
                }
            }
        }
    }
}
