<template>
    <div id="app">
        <el-header></el-header>

        <div class="page">
            <div class="limit">
                <div class="comics">
                    <div class="page-wrap">
                        <img :src="comics" alt="Comics">
                    </div>
                </div>

                <div class="row">
                    <section class="col">
                        <video-block :video-id="videoId"></video-block>
                    </section>

                    <section class="col">
                        <step-list :steps="stepsList"></step-list>
                    </section>
                </div>
            </div>

            <subscribe></subscribe>
        </div>

        <div class="page" id="features">
            <div class="limit">
                <div class="row">
                    <section class="col">
                        <conversation></conversation>
                    </section>

                    <section class="col conversation-img">
                        <div class="content-wrap">
                            <img src="/assets/images/conversation.png" alt="Conversation">
                        </div>
                    </section>
                </div>
            </div>

            <subscribe></subscribe>
        </div>

        <div class="page" id="pricing">
            <div class="limit">
                <div class="row">
                    <section class="col">
                        <pricing :sections="pricingSections"></pricing>
                    </section>

                    <section class="col">
                        <customers></customers>
                    </section>
                </div>
            </div>

            <subscribe></subscribe>
        </div>

        <div class="page" id="story">
            <div class="limit">
                <div class="single-row">
                    <story :story="story"></story>
                    <stats :info="stats"></stats>
                </div>
            </div>

            <subscribe></subscribe>
        </div>

        <div class="page" id="contact">
            <div class="limit">
                <div class="contact">
                    <div class="single-row">
                        <contact :submit-url="submitUrl"></contact>
                    </div>
                </div>
            </div>
        </div>

        <footer-section></footer-section>

    </div>
</template>

<script>
    import CONFIG from './config.js';

    import elHeader from './components/header.vue';
    import subscribe from './components/subscribe.vue';

    import video from './components/video.vue';
    import stepList from './components/step-list.vue';

    import conversation from './components/conversation.vue';

    import pricing from './components/pricing.vue';
    import customers from './components/customers.vue';

    import story from './components/story.vue';
    import stats from './components/stats.vue';

    import contact from './components/contact.vue';

    import footerSection from './components/footer.vue';

    export default {
        name: 'magnify',

        data () {
            return {
                comics: CONFIG.sections.comics.image,
                videoId: CONFIG.sections.video.youtubeID,
                stepsList: CONFIG.sections.steps.list,
                pricingSections: CONFIG.sections.pricing.plans,
                story: CONFIG.sections.story.content,
                stats: CONFIG.sections.stats.items,
                submitUrl: CONFIG.sections.contact.submitUrl
            }
        },

        components: {
            elHeader,
            subscribe,

            videoBlock: video,
            stepList,

            conversation,

            pricing,
            customers,

            story,
            stats,

            contact,

            footerSection
        }
    }
</script>
